    /* ------------HEADER---------------------------- */
    #header_container
    {
        display: flex;
        justify-content: space-between;
    }
    #header_container nav
    {
        margin-top: 11px;
        margin-right: 20px;
    }
    #Booki_Logo /* mise en place du logo en haut a gauche*/
    {
        margin-top: 30px;
        margin-left: 40px;
    }
    #header_container nav li /* mise en forme des items du menu*/
    {
        list-style: none;
        display: inline;
        margin-left: 50px;
    }
    #header_container nav li a /* mise en forme des liens */
    {
        text-decoration: none;
        color: black;
    }
    #header_container nav li a:hover /* mise en forme des liens au survol */
    {
        color: var(--brand-blue);
        border-top: 3px solid #0065FC;
        padding-top: 24px;
    }
    h1
    {
        margin-left: 10px;

    }
    p
    {
        position: relative;
        margin-left: 15px;
        top: -15px;
    }
        /*---------------[MAIN]---------------*/

/*---Barre de recherche---*/
.locationpin_icon /* La section de l'icone en fond gris */
{
    position: relative;
    background-color: #F2F2F2;
    width: 30px;
    height: 49px;
    top: -70px;
    left: 25px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.fa-location-dot /* icone du point localisation de la barre de recherche */
{
    padding-left: 10px;
    padding-top: 15px;
}
#searchbar /* La barre de recherche */
{
    position: relative;
    top: -20px;
    left: 50px;
    height: 50px;
    border: 2px solid;
    border-color: #F2F2F2;
}
.search_button_mobile
{
    display: none;
}
.search_button /* Le bouton de recherche */
{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    background-color: #0065FC;
    position: relative;
    top: -20px;
    left: 45px;
    height: 50px;
    border:0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.search_button:hover
{
    background-color: #DEEBFF;
}
main p 
{
    top: -28px;
    left: 5px;
}
.fa-info_circle /* cercle autour de l'icone i pour "info" */
{
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    border-radius: 60px;
    left: 15px;
    top: -130px;
}
.fa-info /* l'icon petit i pour "info"*/
{
    color: #0065FC;
    padding-left: 11px;
    padding-top: 5px;
}
.search_result_numbers
{
    left: 40px;
    top: -90px;
}

/*--- Menu et liste des filtres---*/
.menu_filter
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    top: -75px;
    left: 60px;
}
.menu_filter li
{
    margin-right: 60px;
}
.filters
{
    display: flex;
}
.filter_style
    {
        width: 200px;
        height: 40px;
        border: 2px solid grey;
        background-color: white;
        border-radius: 50px;
        padding-left: 10px;
        padding-top: 5px;
    }
.filter_style:hover
{
    background-color: var(--brand-lightblue);
}
.filter_style:focus
{
    background-color: var(--brand-blue);
}
/* Icone pour le filtre économique */
.economic_icon
{
    position: relative;
    left: 0px;
    top: -40px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #DEEBFF;
}
.fa-money-bill-wave
{
    color: #0065FC;
    padding-left: 12px;
    padding-top: 12px;
}
/* Icone pour le filtre Familial */
.family_icon
{
    position: relative;
    left: 0px;
    top: -40px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #DEEBFF;
}
.fa-child
{
    color: #0065FC;
    padding-left: 12px;
    padding-top: 12px;
}
/* Icone pour le filtre romantique */
.romantic_icon
{
    position: relative;
    left: 0px;
    top: -40px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #DEEBFF;
}
.fa-heart
{
    color: #0065FC;
    padding-left: 12px;
    padding-top: 12px;
}

/* Icone pour le filtre animaux autorisées */
.animals_icon
{
    position: relative;
    left: 0px;
    top: -40px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #DEEBFF;
}
.fa-dog
{
    color: #0065FC;
    padding-left: 12px;
    padding-top: 12px;
}
.filters
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -105px;
}
/*---Sections des résultats---*/
.filter_hebergement_marseille
{
    width: calc(99%/2);
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 25px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}
.filters h2
{
    margin-left: 25px;
    margin-top: 35px;
}
.filter_most_popular
{
    width: 500px;
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 20px;
    /* margin-left: 151px; */
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-top: 0px;
    /* position: relative;
    right: 150px; */
}
/* Partie Hebergement a marseil */
.preview_list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.preview
{
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px grey;

}
.preview h3
{
    font-size: 16px;
    font-weight: bold;
    /* text-align: center; */
    padding-left: 20px;
}
.preview p
{
    font-size: 12px;
    top: -10px;
}
.preview_image
{
    position: relative;
    width: 239px;
    height: 110px;
    top: 5px;
    left: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.show_more_marseille_host
{
    top: -1px;
    left: 40px;
    font-weight: 700;
}
.stars
{
    position: relative;
    top: -14px;
    left: 20px;
    color: #0065FC;
}
.stargrey
{
    color: grey;
}
/* Partie Les plus populaires */
.stars_popular
{
    position: relative;
    color: #0065FC;
    top: -110px;
    left: 160px;
}
.preview_popular_list
{
    display: flex;
    flex-wrap: wrap;
}
.fa-arrow-trend-up
{
    color: black;
    position: relative;
    top: -42px;
    right: -350px;
    
}
.preview_popular
{
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0px 0px 5px grey;
}
.preview_popular h3
{
    position: relative;
    font-size: 14px;
    margin-right: 200px;
    top: -140px;
    left: 175px;
}
.preview_popular p
{
    position: relative;
    font-size: 12px;
    top: -145px;
    left: 160px;
}
.preview_popular_image
{
    position: relative;
    width: 140px;
    height: 140px;
    left: 5px;
    top: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}
/* Partie Activités à Marseille */
.filter_marseille_activity h2
{
    display: flex;
    position: relative;
    left: 190px;
}
.preview_marseille_activity_list
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.preview_marseille_activity
{
    display: flex;
    width: calc(99%/2);
    margin-left: 6.5px;
    justify-content: space-evenly;
}
.preview_marseille_activity a
{
    display: flex;
}

.preview_marseille_activity_long
{
    width: 300px;
    height: 450px;
    border-radius: 15px;
    margin-right: 25px;
    background-color: white;
    box-shadow: 0px 0px 5px grey;
}
.preview_marseille_activity_long h3
{
    position: relative;
    top: -12px;
    left: 20px;
}
.preview_marseille_activity_short
{
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-right: 25px;
    box-shadow: 0px 0px 5px grey;
}
.preview_marseille_activity_short h3
{
    position: relative;
    top: -12px;
    left: 20px;
}
.preview_marseille_short_column
{
    display: flex;
    flex-direction: column;
}
.preview_marseille_image
{
    position: relative;
    height: 400px;
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    top: -5px;
    object-fit: cover;
}
.preview_marseille_image_short
{
    position: relative;
    width: 300px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    top: -5px;
    object-fit: cover;
}
.cards-link
{
    color: black;
    text-decoration: none;
}
.cards-link:active
{
    color: #0065FC;
}

/*---------------[FOOTER]---------------*/
.menu_footer
{
    background-color: #F2F2F2;
    margin-top: 30px;
    padding-left: 95px;
}
.footer_unordered_list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: -350px;
}
.menu_footer ul li
{
    list-style: none;
    margin-top: 20px;
    display: flex;
    /* margin-right: 200px; */
}
.menu_footer ul li a
{
    text-decoration: none;
}
.menu_footer_lessbold
{
    font-size: 16px;
    color: #39393b;
    font-weight: bolder;
}
.menu_footer_bold
{
    color: black;
    font-size: 20px;
    font-weight: 900;
}