@import url(./Mobile.css) screen and (min-width: 0px) and (max-width: 768px); /* Mobile */
@import url(./Tablet.css) screen and (min-width: 769px ) and (max-width:992px); /* Tablet */
@import url(./Desktop.css) screen and (min-width: 993px) and (max-width: 1920px); /* Desktop */
:root
{
    --brand-blue:#0065FC;
    --brand-lightblue:#DEEBFF;
    --brand-grey:#F2F2F2;
}
*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Raleway';
    height: 100%;
}    
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
@media screen and (min-width: 993px) and (max-width: 1247px) /*FIX transition desktop/mobile */
{
    .filter_hebergement_marseille
    {
        width: 500px;
        height: 600px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #F2F2F2;
        border-radius: 15px;
        margin-bottom: 15px;
        margin-left: -17px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}